body{
  background-image: url("../image/desktop-background.png");
  background-repeat: repeat-x;
  color: rgb(139, 139, 187);
}

h1{
  text-align: center;
}


#footer{
  position: absolute;
  margin: 0;
  padding: 0;
  border: 0;
  bottom: 0;
  left: 0;
  height: 64px;
  width: 100%;
  background-color: blue;
}

button{
  margin: 0;
  padding: 0;
  border: 0;
  bottom: 0;
}

#button1{
  position: absolute;
  left: 0;
  height: 64px;
  width: 64px;
  background-image: url("../image/memory.jpg");
}

#button2{
  position: absolute;
  left: 64px;
  height: 64px;
  width: 64px;
  background-image: url("../image/button2.png");
}

/* Dynamic content */
.window1{
  position:absolute; 
  top: 100px; 
  left: 100px; 
  height: 240px; 
  width: 320px; 
  background-color: green;
  border: 1px solid black;
}

.buttonW1 {
  position: relative;
  top: 0;
  left: 288px;
  width: 32px;
  height: 32px;
  background-image: url("../image/buttonW1.png");
}

.topbarW1 {
  position: relative;
  top: -36px;
  left: 0;
  width: 288px;
  height: 32px;
  background-color: lightcoral;
}

.window2{
  position:absolute; 
  top: 100px; 
  left: 100px; 
  height: 240px; 
  width: 320px; 
  background-color: red;
  border: 1px solid black;
}